<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : menu.xml
    Created on : 7 de junio de 2010, 19:36
    Author     : iuga
    Version    : 1.0
    Descricion:
        Mantiene los items del menu principal de la aplicacion
        (Se cargan automaticamente en el menu)
        Para configurar el comportamiento de cada item ir a:
        ventanaPrincipal.treeMenuValueChanged();
-->

<menu>

    <itemcat icono="/res/iconos/var/16x16/promotion.png" nombre="Más Usados">

    </itemcat>

    <itemcat icono="/res/iconos/var/16x16/process.png" nombre="Obras">
    </itemcat>

    <itemcat icono="/res/iconos/var/16x16/users.png" nombre="Clientes">
    </itemcat>

    <itemcat icono="/res/iconos/var/16x16/users.png" nombre="Recursos Humanos">
    </itemcat>

    <itemcat icono="/res/iconos/var/16x16/comments.png" nombre="Capacitación">
    </itemcat>

    <itemcat icono="/res/iconos/var/16x16/add_page.png" nombre="Ir a Cargas Básicas">
    </itemcat>

    <itemcat icono="/res/iconos/var/16x16/process.png" nombre="Configuración">       
    </itemcat>

</menu>
