<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <!--property name="hibernate.connection.url">jdbc:oracle:thin:@//192.168.1.106:1521/xe</property-->
    <!--property name="hibernate.connection.url">jdbc:oracle:thin:@//192.168.0.10:1521/xe</property-->
    <property name="hibernate.connection.url">jdbc:oracle:thin:@//localhost:1521/xe</property>
    <property name="hibernate.connection.username">administradornn</property>
    <property name="hibernate.connection.password">administradornn</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <!--property name="hibernate.hbm2ddl.auto">create</property>-->
    <!--property name="hibernate.hbm2ddl.auto">create</property-->
    <!-- esta cosita borra toda las tablas que se usan cuando para por aca -->
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <!--.. CLASES DE MAPEO ....................................................-->
    <property name="hibernate.show_sql">true</property>
    <mapping package="modelo" resource="config/db/TipoDocumento.hbm.xml"/>
    <mapping package="modelo" resource="config/db/Pais.hbm.xml"/>
    <mapping package="modelo" resource="config/db/Provincia.hbm.xml"/>
    <mapping package="modelo" resource="config/db/Barrio.hbm.xml"/>
    <mapping package="modelo" resource="config/db/Localidad.hbm.xml"/>
    <mapping package="modelo" resource="config/db/TipoEspecialidad.hbm.xml"/>
    <mapping package="modelo" resource="config/db/PedidoObra.hbm.xml"/>
    <mapping package="modelo" resource="config/db/RangoEspecialidad.hbm.xml"/>
    <mapping package="modelo" resource="config/db/Especialidad.hbm.xml"/>
    <mapping package="modelo" resource="config/db/Domicilio.hbm.xml"/>
    <mapping package="modelo" resource="config/db/Empresa.hbm.xml"/>
    <mapping package="modelo" resource="config/db/Planta.hbm.xml"/>
    <mapping package="modelo" resource="config/db/TipoTelefono.hbm.xml"/>
    <mapping package="modelo" resource="config/db/Telefono.hbm.xml"/>
    <mapping package="modelo" resource="config/db/ContactoResponsable.hbm.xml"/>
    <mapping package="modelo" resource="config/db/Indumentaria.hbm.xml"/>
    <mapping package="modelo" resource="config/db/Talle.hbm.xml"/>
    <mapping package="modelo" resource="config/db/TipoIndumentaria.hbm.xml"/>
    <mapping package="modelo" resource="config/db/ItemIndumentaria.hbm.xml"/>
    <mapping package="modelo" resource="config/db/TipoCapacitacion.hbm.xml"/>
    <mapping package="modelo" resource="config/db/TallerCapacitacion.hbm.xml"/>
    <mapping package="modelo" resource="config/db/Capacitacion.hbm.xml"/>
    <mapping package="modelo" resource="config/db/Persona.hbm.xml"/>
    <mapping package="modelo" resource="config/db/LugarCapacitacion.hbm.xml"/>
    <mapping package="modelo" resource="config/db/AsistenciaTallerCapacitacion.hbm.xml"/>
    <mapping package="modelo" resource="config/db/DetalleHorarioTaller.hbm.xml"/>
    <mapping package="modelo" resource="config/db/LicenciaEmpleado.hbm.xml"/>
    <mapping package="modelo" resource="config/db/TipoLicenciaEmpleado.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
