<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : menu.xml
    Created on : 7 de junio de 2010, 19:36
    Author     : iuga
    Version    : 1.0
    Descricion:
        Mantiene los items del menu principal de la aplicacion
        (Se cargan automaticamente en el menu)
        Para configurar el comportamiento de cada item ir a:
        ventanaPrincipal.treeMenuValueChanged();
-->

<menu>

    <itemcat icono="/res/iconos/var/16x16/promotion.png" nombre="Favoritos">
    </itemcat>

    <itemcat icono="/res/iconos/var/16x16/Shopping cart.png" nombre="Compras">
        <item nombre="Generar una Orden De Compra" icono="/res/iconos/var/16x16/List.png" instance="vista.compras.GenerarNuevaOrdenDeCompra" permisos="Compras"/>
        <item nombre="Recepcion de Compras" icono="/res/iconos/var/16x16/delivery.png" instance="vista.compras.RegistrarRecepcionDeRecursos" permisos="Compras"/>
        <item nombre="Gestionar Stock" icono="/res/iconos/var/16x16/Wallet.png" instance="vista.compras.GestionarStock" permisos="Compras"/>
        <item nombre="Consultar Precios" icono="/res/iconos/var/16x16/Accounting.png" instance="vista.compras.ConsultarPrecios" permisos="Compras"/>
        <item nombre="Registrar un Proveedor" icono="/res/iconos/var/16x16/user.png" instance="vista.compras.ABMProveedor" permisos="Compras"/>
        <item nombre="Registrar Precios de Recursos" icono="/res/iconos/var/16x16/Accounting.png" instance="vista.compras.pantallaRegistrarPrecioRecursoNueva" permisos="Compras"/>
    </itemcat>  
    
    <itemcat icono="/res/iconos/var/16x16/users.png" nombre="Recursos Humanos">
        <item nombre="Listado de Empleados" icono="/res/iconos/var/16x16/search_page.png" instance="vista.rrhh.PantallaConsultarEmpleado" permisos="Recursos Humanos"/>
        <item nombre="Nuevo Empleado" icono="/res/iconos/var/16x16/add.png" instance="vista.rrhh.pantallaRegistrarEmpleado" permisos="Recursos Humanos"/>
        <item nombre="Talleres de Capacitación" icono="/res/iconos/var/16x16/Yellow tag.png" instance="vista.rrhh.pantallaConsultarTallerCapacitacion" permisos="Recursos Humanos"/>
        <item nombre="Asistencia a Talleres" icono="/res/iconos/var/16x16/accept_page.png" instance="vista.rrhh.pantallaRegistrarAsistenciaTallerCapacitacion" permisos="Recursos Humanos"/>
    </itemcat>     

    <itemcat icono="/res/iconos/var/16x16/Equipment.png" nombre="Obras">
        <item nombre="Explorar Pedidos de Obra" icono="/res/iconos/var/16x16/search_page.png" instance="vista.comer.ListadoPedidoDeObras"  permisos="Comercialización"/>
        <item nombre="Nuevo Pedido de Obra" icono="/res/iconos/var/16x16/add.png" instance="vista.comer.ABMPedidoObra"  permisos="Comercialización"/>
    </itemcat>    

    <itemcat icono="/res/iconos/var/16x16/chart_pie.png" nombre="Cotización">
        <item nombre="Nueva Cotización de Obra" icono="/res/iconos/var/16x16/add.png" instance="vista.cotizacion.ExplorarCotizacionObra" permisos="Cotización"/>
        <item nombre="Explorar Cotizaciones" icono="/res/iconos/var/16x16/search.png" instance="vista.cotizacion.ListadoCotizaciones" permisos="Cotización"/>
    </itemcat>
    
    <itemcat icono="/res/iconos/var/16x16/chart.png" nombre="Planificación">
        <item nombre="Explorar Planificaciones" icono="/res/iconos/var/16x16/search.png" instance="vista.planificacion.PantallaConsultarPlanificaciones"  permisos="Planificación"/>
    </itemcat>  
    
    <itemcat icono="/res/iconos/var/16x16/calendar.png" nombre="Ejecución">
        <item nombre="Explorar Ejecuciones" icono="/res/iconos/var/16x16/search.png" instance="vista.ejecucion.ConsultarEjecuciones" permisos="Ejecución"/>
    </itemcat>  
    
    <itemcat icono="/res/iconos/var/16x16/Diagram.png" nombre="Control">
        <item nombre="Explorar Controles de Obra" icono="/res/iconos/var/16x16/search.png" instance="vista.control.ConsultarControles" permisos="Control"/>
    </itemcat>                   

    <itemcat icono="/res/iconos/var/16x16/3d bar chart.png" nombre="Informes">
        <item nombre="Informes Generales" icono="/res/iconos/var/16x16/new_page.png" instance="vista.informes.EmitirInformesGenerales"/>
    </itemcat>          

    <!--itemcat icono="/res/iconos/var/16x16/process.png" nombre="Configuración">       
    </itemcat-->

</menu>
