<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : menu.xml
    Created on : 7 de junio de 2010, 19:36
    Author     : iuga
    Description:
        Mantiene los items del menu principal de la aplicacion
-->

<menu>

    <itemcat icono="/res/iconos/var/16x16/users.png" nombre="Recursos Humanos">

        <item icono="/res/iconos/var/16x16/user.png" nombre="Nuevo Empleado"/>

    </itemcat>

    <itemcat icono="/res/iconos/var/16x16/process.png" nombre="Configuración">

        

    </itemcat>

</menu>
